html, body {-ms-overflow-style:none; scrollbar-width:none; }
body
{
     background-color: #134686;
    padding: 10px;
    margin: 0;
    overflow: hidden;
}
.parent {
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
   
}
.parent div
{
    /* border: 1px solid; */
    border-radius: 20px;
}
.div1 img, .div4 img
{
    height: auto;
   width: 100%;

}
.div2 img
{
    height: 80%;
    width: auto;
    animation: bounces 5s infinite;
    
}
.div8 img
{
    height:90%;
    width:auto;
    overflow: hidden;
    filter: drop-shadow(10px 10px 10px #ED3F27);
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.316);
    border: 5px solid rgba(0, 0, 0, 0.15);
    border-radius:20px ;
}

@keyframes bounces {
  0%, 100% {
   
    transform: scale(.8);
     filter: drop-shadow(5px 5px 25px rgb(30, 30, 30));
  }
  50% {
   
    filter: drop-shadow(-5px -5px 25px rgb(30, 30, 30));
    transform: scale(1);
  }
}

.div1 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    overflow: hidden;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    background-color: #ED3F27;
}

.div3 {
    grid-column: span 6 / span 6;
    grid-row: span 3 / span 3;
    grid-column-start: 7; 
    background: rgba(255, 255, 255, 0.15)  ;
    backdrop-filter: blur(5px)  ;
    -webkit-backdrop-filter: blur(10px) ;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) , inset 0px 0px 20px rgba(124, 124, 124, 0.714);
    border: 1px solid #fdf4e362;
   
}


.popup-img p i , .wrapper p i
{ 
    font-family: "Impact"; 
    color: #FEB21A;
   
}

.join_div .social table th:hover i
{
    color: #FEB21A;
    transform: translateY(-5px) scale(1.3);

}
.join_div .social table i
{
    font-size: 2em;
    color: #ED3F27;
    transition: all .3s ease;
}
.join_div .social table
{
    width: 100%;
    height: 100%;
}
.join_div .social
{
    width: 100%;
    height: 50%;
     background: rgba(255, 255, 255, 0.15)  ;
       backdrop-filter: blur(5px)  ;
       -webkit-backdrop-filter: blur(10px) ;
       box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) ;
    border: 1px solid rgba(255, 255, 255, 0.264);
  
    opacity: 0;
    transition: opacity 1s ease;
}

.div3 .join_div:hover .social
{
    opacity: 1;
}
.div3 .join_div:hover
{
   
  background-position: right ;
  background-size: 104%;
  
}

.div3 .join_div    
{
    transition: background-size 1s ease, background-position 1.5s ease;
    width: 75%;
    background-image: url('img/pp2..jpg');
    background-size: 100%;
    height: 100%;  
    float: right;
}
/* .div3:hover p{ transition: shadow 3s ease-in infinite;   }     */
.div3 p    
{
    float: left;
    font-size: 10vh;
    font-family: 'IMPACT';
    margin: auto;
    color: #ED3F27;
    padding-left :20px ;
    height: 100%;
    width: calc(25% - 20px);
   
}
@keyframes shadow {
  0%  {text-shadow: 0px 0px 10px #FDF4E3;}
  25% {text-shadow: 0px 0px 20px #FDF4E3;}
  50% {text-shadow: 0px 0px 30px #FDF4E3;}
  75% {text-shadow: 0px 0px 20px #FDF4E3;}
  100%{text-shadow: 0px 0px 10px #FDF4E3;}
}
.popup-img p , .wrapper p
{
    text-shadow: 0px 0px 35px  black;
    font-size: 5em;
    font-family: 'Ink Free';
    margin: auto;
    color: #ED3F27;
    text-align: center;
    font-weight: 400;
}
.popup-img p{text-shadow: 0px 0px 50px rgb(12, 12, 12);}


.div4 {
  grid-column: span 4 / span 4;
  grid-row: span 5 / span 5;
  grid-row-start: 4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
 
}

.wrapper p{ transition: opacity 1s ease;}
.wrapper {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
    background: url('img/tiger + strength + bodybuilder  simple logo.jpg');
    background-size: 100%;
    
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.div4:hover .wrapper p {
opacity: 0;
}
.div4:hover .wrapper {
  transform: perspective(800px) translateY(-3%) rotateX(20deg) scale(.9);
  box-shadow: 2px 25px 32px -8px rgba(0, 0, 0, 0.6);
  background: linear-gradient(245deg,rgb(255, 255, 255 ,.5) 80%), url('img/tiger + strength + bodybuilder  simple logo.jpg');
   background-size: 100%;
  
}

.popup-img {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: auto;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translate3d(0, 0, 0);
    /* background: url('img/tiger + strength + bodybuilder  simple logo2.png'); */
   background-size: 100%;
}

.div4:hover .popup-img {
  opacity: 1;
  transform: translate3d(0, -40%, 120px);
}

.div5 {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    grid-row-start: 4;
    
    /* transition: scale .3s ease; */
}



.div5 {
  position: relative;
  font-size: 6em;
  font-family: "Impact";
  /* text-transform: uppercase; */
  color: transparent;
  text-align: center;
  transition: transform 0.1s ease-out;
  transform-style: preserve-3d;
  /* perspective: 600px; */
  /* chrome + glass gradient */
  background: 
    linear-gradient(90deg, #999, #fff, #999),
    linear-gradient(145deg, rgba(255,255,255,0.9), rgba(200,200,255,0.3) 30%, rgba(255,255,255,0.8) 60%, rgba(180,180,255,0.4));
  background-blend-mode: overlay;
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow:
    0 0 5px rgba(255,255,255,0.7),
    0 2px 10px rgba(0,0,0,0.4),
    inset 0 0 10px rgba(255,255,255,0.5);
  filter: drop-shadow(0 0 10px rgba(255,255,255,0.5));
  backdrop-filter: blur(6px);

  /* transition: scale .3s ease; */
}
.div5:hover{ animation: shine 2s ease-in infinite;}
@keyframes shine {
  from { background-position: 200% 0; }
  to { background-position: -200% 0; }
}

.div6 {
  grid-column: span 4 / span 4;
  grid-row: span 5 / span 5;
  grid-column-start: 9;
  grid-row-start: 4;
  position: relative;
  overflow: hidden;
}

.div6 .card {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background:url("img/tiger + bodybuilder .jpg");
  background-size: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: background-size 1s ease, background-position 1.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div6 .card:hover {
  background-position: right top;
  background-size: 130%;
}



.div7 {
  grid-column: span 6 / span 6;
  grid-row: span 3 / span 3;
  grid-row-start: 9;
  position: relative;
  overflow: hidden;
  background-color: #FDF4E3;
}




.bg-map:hover {opacity: 1;}
.bg-map {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 2s ease; /* clickable */
}

.overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* above iframe */
  pointer-events: none; /* allows iframe click */
}

.location {
  color: #ED3F27;
  font-size: 3em;
  font-family: "Impact";
}

.div7:hover .location
{
 animation: text 1.5s ease-in forwards;
}
@keyframes text {
  0%  { font-family: "Ink Free";                    opacity: 1; transform: scale( 1);    }
  10% { font-family: "Engravers MT";                opacity:.9; transform: scale(1.1);    }
  20% { font-family: "Broadway";                    opacity:.8; transform: scale(1.2);    }
  30% { font-family: "Algerian";                    opacity:.7; transform: scale(1.3);    }
  40% { font-family: "Bodoni MT Poster Compressed"; opacity:.6; transform: scale(1.4);    }
  50% { font-family: "Blackadder ITC";              opacity:.5; transform: scale(1.5);    }
  60% { font-family: "Matura MT Script Capitals";   opacity:.4; transform: scale(1.6);    }
  70% { font-family: "Wide Latin";                  opacity:.3; transform: scale(1.7);    }
  80% { font-family: "Harlow Solid Italic";         opacity:.2; transform: scale(1.8);    }
  90% { font-family: "Edwardian Script ITC";        opacity:.1; transform: scale(1.9);    }
  95%{ font-family: "Viner Hand ITC";              opacity:.1; transform: scale(2);    }
  100%{         opacity:.0;    }
 
}

@keyframes drop {
  0%{
   
    transform: scale(1.1);
     box-shadow:inset 5px 5px 55px rgb(254, 2, 2);
     border: 5px solid rgba(254, 2, 2, 0.5);
  }
  20%{
   
    transform: scale(1.1);
    box-shadow:inset 5px 5px 55px rgb(108, 247, 2);
     border: 5px solid rgba(108, 247, 2, 0.5);

  }
  40%{
   
    transform: scale(1.1);
    box-shadow:inset 5px 5px 55px rgb(176, 2, 251);
     border: 5px solid rgba(176, 2, 251, 0.5);
  }
  60%{
   
    transform: scale(1.1);
    box-shadow:inset 5px 5px 55px rgb(5, 1, 245);
     border: 5px solid rgba(5, 1, 245, 0.5);
  }
  80%{
   
    transform: scale(1.1);
    box-shadow:inset 5px 5px 55px rgb(251, 3, 102);
     border: 5px solid rgba(251, 3, 102, 0.5);
  }
  90% {
   
    box-shadow:inset 5px 5px 25px rgb(30, 30, 30);
    border: 5px solid rgba(0, 0, 0, 0.5);
    transform: scale(1);
  }
}

.div8:hover img 
{
   animation: drop .9s ease-in;
  
  }
.div8 {
    grid-column: span 6 / span 6;
    grid-row: span 3 / span 3;
    grid-column-start: 7;
    grid-row-start: 9;
    background-color: #FEB21A;
      
}
   
.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 768px) and (max-height: 900px) 
{
    html, body {-ms-overflow-style:none; scrollbar-width:none; }
    body
    {
        width: 100%;
        height: 100%;
        margin: 4px;
        padding:0px;
        overflow: hidden;
    }
    
    .div4:hover .popup-img {
      opacity: 1;
      transform: translate3d(0, -35%, 120px);
    }

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 2px;
   height:100%;
   width: 100%;

}
    
.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.div3 p 
{
 
height: 100%;
width: calc(25% - 20px);
font-size:6vh;
} 

.div3 {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div5 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-row-start: 5;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 9;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 9;
}

.div7 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 11;
}

.div8 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 11;
    /* display: none; */
    padding: -50px;
}

.popup-img p , .wrapper p
{
    text-shadow: 0px 0px 35px  black;
    font-size: 2em;
  font-family: 'Ink Free';
   margin: auto;
   color: #ED3F27;
    text-align: center;
}
}


.div1
{
  animation: out 1s ease forwards;
}
.div3 
{
  animation: loadtop 1s ease forwards;
}
 .div4 , .div7
{
  animation: loadright 1s ease forwards;
}
.div2 , .div6 , .div8
{
  animation: loadleft 1s ease forwards;
}
p , h2
{
  animation: loadtop_text 1.4s ease forwards;
}

/* 
.parent > .div1 { animation-delay: 0.1s; }
.parent > .div2 { animation-delay: .1s; }
.parent > .div3 { animation-delay: .2s; }
.parent > .div4 { animation-delay: .4s; }
.parent > .div5 { animation-delay: 0s; }
.parent > .div6 { animation-delay: .3s; }
/* .parent > .div7 { animation-delay: .6s; } */



@keyframes scale {
  0%
  {
    transform: scale(5);
   
  }
  
  100%
  {
    transform: scale(1);
   
  }
  
}
@keyframes loadright {
  0%
  {
    transform: translateX(-300px) scale(.8);
    opacity: 0;
  }
  
  90%
  {
    transform: translateX(0px) scale(.9);
    opacity: 1;
  }
  100%
  {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
  
}
@keyframes loadleft {
  0%
  {
    transform: translateX(300px) scale(.8);
    opacity: 0;
  }
  
  90%
  {
    transform: translateX(0px) scale(.9);
    opacity: 1;
  }
  
  100%
  {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }
  
}
@keyframes loadtop {
  0%
  {
    transform: translatey(200px) scale(.8);
   
  }
  
  90%
  {
    transform: translatey(0px) scale(.9);
   
  }
  100%
  {
    transform: translatey(0px) scale(1);
   
  }
  
}
@keyframes loadtop_text {
  0%
  {
    transform: translatey(200px);
   
  }
  
  100%
  {
    transform: translatey(0px);
   
  }
  
}
@keyframes out {
  0%
  {
    transform: scale(0);
    opacity: 0;
  }
  
  90%
  {
    transform: scale(.9);
    opacity: 1;
  }
  100%
  {
    transform: scale(1);
    opacity: 1;
  }
  
}
@keyframes back {
  0%
  {
    background-size: 80%;
  }
  
  100%
  {
    background-size: 100%;
  }
  
}

